{% load static %}

<div id="main">
	{% if user.is_authenticated %}
		<a href="/restricted/edit/{{ id }}" style="position:relative;">
			<div style="width:50px; height:50px; background-color: white; opacity:0.6; border: solid 1px black; position: absolute; margin-left: 847px; margin-top: 1px;"></div>
		</a>
	{% endif %}
	<div id ="article_id" style="display: none;">{{ id }}</div>
	<img alt="{{ title }}" src="{{main_pic}}" id="main_photo"/> 
	
	<div id="item_date">{{ date }}</div>

	<div id="title">{{ title }}</div>
	<div id="info">{{ info|safe }}</div>
	<div id="item_body">
	    {{ body|safe }}

</div>
	</div>

	<div id="item_footer">
		<div id="author">
		    {{ authors }}
		</div>
		    <div id="looks">
		    	<img id="looks_pic" src="{% static "pics/eye.png" %}" /> 
		    	<span>{{ views }}</span>
		    </div>
	</div>
	<script type="text/javascript"><!--
	document.write(VK.Share.button(false,{type: "round", text: "Share"}));
	--></script>
	</div>

<script type="text/javascript"> 
  VK.init({ 
    apiId: 4365471, 
    onlyWidgets: true 
  }); 
</script>

<div id="vk_comments"></div> 
<script type="text/javascript"> 
 VK.Widgets.Comments('vk_comments'); 
</script>

<div id="item_wrapper"></div>

<div id="item_container">
    {{ other_news|safe }}
</div>