{% load static %}
<div id="main">
<img src="" id="main_photo"/>
<div id="item_date">{{ date }}</div>

<div id="title">{{ title }}</div>
<div id="info">{{ info|safe }}</div>
<div id="item_body">
    {{ body|safe }}
</div>

<div id="item_footer">
<div id="author">
    {{ authors }}
</div>
    <div id="looks"><img src="{% static "pics/eye.png" %}" id="looks_pic"/> <span>{{ views }}</span></div>
</div>
</div>

<div id="item_wrapper"></div>

<div id="item_container">
    <div class="foot_new">
        <div class="foot_pic"></div>
        <div class="foot_tag">
            <span>{{ date_1 }}</span> 
            <div class="foot_views">
                <img class="foot_eye" src="{% static "pics/eye.png" %}"/>
                {{views_1}}
            </div>
        </div>
        <div class="foot_title"><a href="/item/{{ id_1 }}">{{ title_1 }}</a></div>
    </div>

    <div class="foot_new">
        <div class="foot_pic"></div>
        <div class="foot_tag">
            <span>{{date_2}}</span> 
            <div class="foot_views">
                    <img class="foot_eye" src="{% static "pics/eye.png" %}"/>
                {{views_2}}
            </div>
        </div>
        <div class="foot_title"><a href="/item/{{ id_2 }}">{{ title_2 }}</a></div>
    </div>
    
    <div class="foot_new">
        <div class="foot_pic"></div>
        <div class="foot_tag">
            <span>{{date_3}}</span>
            <div class="foot_views">
                <img class="foot_eye" src="{% static "pics/eye.png" %}"/>
            {{views_3}}
        </div>
    </div>
        <div class="foot_title"><a href="/item/{{ id_3 }}">{{ title_3 }}</a></div>
    </div>
</div>