{% load static %}
<div id="main">
	{% if user.is_authenticated %}
		<a href="/restricted/edit/{{ id }}" style="position:relative;">
			<div style="width:40px; height:40px; font-size: 40px; background-color: white; opacity:0.8; border: solid 1px black; position: absolute; right: -800px;"><span style="" class="glyphicon glyphicon-pencil"></span></div>
		</a>
	{% endif %}
	<div id ="article_id" style="display: none;">{{ id }}</div>
	<img alt="{{ title }}" src="{{main_pic}}" id="main_photo"/> 
	
	<div id="item_date">{{ date|date:"F" }}, {{ date|date:"d" }}</div>

	<div id="title">{{ title }}</div>
	<div id="info">{{ lid|safe }}</div>
	<div id="author">
		    {{ authors|safe }}
		</div>
	<div id="item_body">
	    {{ body|safe }}
</div>
	

	<div id="item_footer">
		    <div id="looks">
		    	<img id="looks_pic" src="{% static "pics/eye.png" %}" /> 
		    	<span>{{ views }}</span>
		    </div>
	</div>
	<script type="text/javascript"><!--
	document.write(VK.Share.button({
		title: "{{ title }}",
		image: "http://culturevl.ru{{main_pic}}",
		description: "{{ lid|safe|escapejs }}",
		text: "Share"
	}));
	--></script>
	</div>

<script type="text/javascript"> 
  VK.init({ 
    apiId: 4365471, 
    onlyWidgets: true 
  }); 
</script>
<a name="disqus_thread"></a>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'culturevl'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    

<div id="item_wrapper"></div>

<div id="item_container">
    {{ other_news|safe }}
</div>
