<li>
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    {{ date }}
                </div>
            <img class="item_photo" src="{{pic_url}}"/>
                <div class="item_type">
                    {{ type }}
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                        <a href="/item/{{ id }}" class=title_link>{{ title }}</a>
                </div>
                <div class="item_information">{{ info|safe }}</div>
                <div class="item_lid">{{ lid|safe }}</div>
                <div class="item_read">
                    <a href="/item/{{ id }}">Читать дальше </a>|<a href="/item/{{ id }}"> Комментарии({{ comments }})</a>
                </div>
            </div>
</div>
</li>