{% include 'blog_app/header.html' %}
    <div id="source">
    <ul id="main_container">
    {{ stuff|safe }}

        <li>
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    5 апреля 2014
                </div>
                <div class="item_photo">

                </div>
                <div class="item_type">
                    Премьера
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                        <a href="/item/23" class=title_link>РАЗВОД В ЖИЗНИ И НА СЦЕНЕ</a>
                </div>
                <div class="item_lid">
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                </div>
                <div class="item_read">
                    <a href="/item/{{ id }}">Читать дальше</a>
                </div>
            </div>
        </div></li>

        </ul>
    </div>
<div id="more">
    <span><a href="">Ещё записи</a></span>
</div>
{% include 'blog_app/footer.html' %}