
{% include 'blog_app/header.html' %}
    <div id="source">
    <ul id="main_container">

    {{ stuff|safe }}

    </ul>
    </div>
    <div id="more">
        <span><a>Ещё записи</a></span>
    </div>
    <span id='type_of_page' style="display:none;">{{ type_of_page }}</span>
{% include 'blog_app/footer.html' %}
