{% include 'blog_app/header.html' %}
    <div id="source">
        <ul id="main_container"><li>
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    5 апреля 2014
                </div>
                <div class="item_photo">

                </div>
                <div class="item_type">
                    Премьера
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                        <a href="" class=title_link>Развод в жизни и на сцене</a>
                </div>
                <div class="info">«Жизнь». По мотивам «Рассказа о мертвом старике» А. Платонова.<br>
Большой театр кукол.<br>
Режиссура, сценография, куклы Дениса Казачука.</div>
                <div class="item_lid">
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                </div>
                <div class="item_read">
                    <a href="#">Читать дальше</a>
                </div>
            </div>
        </div><li>
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    5 апреля 2014
                </div>
                <div class="item_photo">

                </div>
                <div class="item_type">
                    Премьера
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                        <a href="" class=title_link>Развод в жизни и на сцене</a>
                </div>
                <div class="item_lid">
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                </div>
                <div class="item_read">
                    <a href="#">Читать дальше</a>
                </div>
            </div>
        </div></li>
        </ul>
    </div>
{% include 'blog_app/footer.html' %}