{% load static %}
</div>
<div></div><!-- очищающий блок -->
<div id="substrate-footer"><img src="{% static "pics/vladivostok.png" %}"/></div>

<div id="footer"><!-- подвал сайта -->
	<div id="footer_wrap">
		<div id="footer_logo">
			<img src="{% static "pics/mr_che.png"%}" />
			<span>Культурный</span>
			<div id="footer_social">
			</div>
		</div>

		<div class="container">
	    <div id="copywrite">
	        &copy; TH= SUM 2014. All Rights Reserved
	        <br />
	        <img src="images/sumthingText.gif" />
	    <!-- end #copywrite"--></div>
	    <div class="nav">
		    Navigation
		    <br />
		    <a href="index.html">// Home</a>
		    <br />
		    <a href="about.html">// About</a>
		    <br />
		    <a href="work.html">// Work</a>
		    <br />
		    <a href="blog">// Blog</a>
		    <br />
		    <a href="contact.html">// Contact</a>
	    </div><!-- end .nav -->
	    <div class="nav">
		    Social
		    <br />
		    <a href="blog">// Blog</a>
		    <br />
		    <a href="http://www.facebook.com/pages/TH-SUM/142141252502614" target="_blank">// Facebook</a>
		    <br />
		    <a href="http://twitter.com/thesumca" target="_blank">// Twitter</a>

	    </div><!-- end .nav -->
	    <div id="contact">
	        105-1010 Chilco Street, Vancouver, British Columbia, V6G 2R6
	        <br />
	        //  p. 604.765.8831  //  <a href="mailto:hello@thesum.ca">e. hello@thesum.ca</a>
	    <!-- end #contact --></div>
    </div><!-- end .container -->
    

	
	</div>
</div>
</div>
	</body>
</html>