{% load static %}
</div>
<div></div><!-- очищающий блок -->
<div id="substrate-footer"><img src="{% static "pics/vladivostok.png" %}"/></div>

<div id="footer"><!-- подвал сайта -->
	<div id="footer_wrap">
	
		<div class="container">
		    <div id="footer_logo">
	        &copy; Копирайт. <br>
			<!--<img src="{% static "pics/mr_che.png"%}" />-->
			<span>КУЛЬТУРНЫЙ</span>
			</div>

		</div>
	    <div class="nav">
		    Навигация
		    <br />
		    <a href="index.html">// Главная</a>
		    <br />
		    <a href="about.html">// О нас</a>
		    <br />
		    <a href="work.html">// Редакция</a>
		    <br />
		    <a href="blog">// Блог</a>
		    <br />
		    <a href="contact.html">// Связаться</a>
	    </div><!-- end .nav -->
	    <div class="nav">
		    Social
		    <br />
		    <a href="http://www.vk.com/" target="_blank">// Вконтакте</a>
		    <br />
		    <a href="http://twitter.com/" target="_blank">// Твиттер</a>

	    </div><!-- end .nav -->
	    <div id="contact">
	        г. Владивосток
	        <br />
	        //  тел. 914 707 93 83  //  <a href="mailto:hello@thesum.ca">email: pasha@gmail.com</a>
	    <!-- end #contact --></div>
    </div><!-- end .container -->


	
	</div>
</div>
</div>
	</body>
</html>