<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Сайт</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/drop.css" %}">
        <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/lib/jquery.dropotron.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </head>

<body> 
    <div id="stuff">

       <div id = "header">
            <div id="top_header">
                <div id="header_pic"></div>
                <nav id="nav_top"><ul><li><a href="/feed/">Лента</a></li><li><a href="/about/">О нас</a></li><li><a href="/redaction/">Редакция</a></li></ul></nav>
                <span>Культурный</span>

            </div>
            <div id="bot_header">
                <div id="wrapper"></div>
                <nav id="nav_filter">
                <ul>
                    <li><a href="/premiere/">Премьера</a></li>
                    <li><a href="/news/">Новость</a></li>
                    <li>
                        <span><a href="/person/">Личность</a></span>
                        <ul>
                            <li><a href="#">Интервью</a></li>
                            <li><a href="#">Что-то ещё</a></li>
                        </ul>
                    </li>
                    <li><a href="/about/">Афиша</a></li>
                </ul>
                </nav>
            </div>
       </div>