<!DOCTYPE HTML>
{% load static %}
<html lang="ru">
    <head>
        <title>Сайт</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic&amp;subset=latin,cyrillic">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.css" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/item_page.css" %}">

        <!--
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style-normal.css" %}"> 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script></javascript>
        -->
        <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/lib/jquery.dropotron.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        <script src="http://vk.com/js/api/openapi.js"; type="text/javascript" charset="windows-1251"></script>
        <!-- Put this script tag to the <head> of your page -->
        <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script>



    </head>

<body> 
    <div id="top_line"></div>
    <div id="stuff">

       <div id = "header">
            <div id="top_header">
                <div id="header_pic"><img src="{% static "pics/mr_che.png" %}"/></div>

                    <nav id="main-nav"><ul>
                        <li>
                            <a href="/">На главную</a>
                            <ul>
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Редакция</a></li>
                            </ul>
                        </li>
                    </ul>
                    </nav>
{% if user.is_authenticated %}
<style>
#dev_greeting{
    position: absolute;
    font-size: 18px;
    margin-top: 60px;
    left: 70%;
    text-align: right;
    background-color: aliceblue;
}
#dev_panel{
    position:fixed; 
    bottom:0; 
    right:0; 
    height: 280px; 
    width: 80px; 
    background-color:grey;
    opacity: 0.7;
    padding-top:10px;
}
.dev_icon{
    width:50px;
    height:50px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: inline-block;
    opacity: 0.4;
    background-color: orange;
    padding: 3px 3px 3px 3px;
    border: solid 1px black;
}
</style>
<div id="dev_greeting">Здравствуй, {{ user.username}}! <br>
Приятного рабочего дня <br>
Не забудь разлогиниться! </div>
<div id="dev_panel">
    <a href="/logout/"><div class="dev_icon"></div></a>
    <a href="/restricted/"><div class="dev_icon"></div></a>
    <a href="/add/"><div class="dev_icon"></div></a>
    <a href="/hzchto/"><div class="dev_icon"></div></a>
</div>
{% endif %}
            
                <span><a href="/">КУЛЬТУРНЫЙ</a></span>

            </div>
            <div id="bot_header">
                <div id="div_filter">
<nav id="nav">
<ul>
<li class="li_item">
<a href="index.html">СПЕКТАКЛЬ</a>
<ul>
<li><a href="#">ПРЕМЬЕРА</a></li>
</ul>
</li><li class="li_wrapper"></li>
<li class="li_item"><a href="#">НОВОСТЬ</a></li><li class="li_wrapper"></li>
<li class="li_item">
<a href="#">ЛИЧНОСТЬ</a>
<ul>
<li><a href="#">МНЕНИЕ</a></li>
<li><a href="#">ИНТЕРВЬЮ</a></li>
</ul>
</li><li class="li_wrapper"></li>
<li class="li_item"><a href="">МАСТЕРСКАЯ</a></li><li class="li_wrapper"></li>
<li class="li_item"><a href="">АФИША</a></li>
</ul>
</nav>
                </div>
            </div>
       </div>