<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Сайт</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic&amp;subset=latin,cyrillic">
        <link rel="stylesheet" type="text/css" href="{% static "css/header.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/item_page.css" %}">
        <!--
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style-normal.css" %}"> 
        -->
        <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/lib/jquery.dropotron.min.js" %}"></script>
        <script src="{% static "js/lib/main.js" %}"></script>

        <script>
            $(function() {
                
                // Note: make sure you call dropotron on the top level <ul>
                $('#main-nav').find('> ul').dropotron({
                    offsetY: 0 // Nudge up submenus by 10px to account for padding
                });
                $('#nav').find('> ul').dropotron({
                    offsetY: 0 // Nudge up submenus by 10px to account for padding
                });
            
            });
        </script>

    </head>

<body> 
    <div id="stuff">

       <div id = "header">
            <div id="top_header">
                <div id="header_pic"></div>
                <div id="nav_div">
                    <nav id="main-nav"><ul><li><a href="/feed/">Лента</a></li><li><a href="/about/">О нас</a></li><li><a href="/redaction/">Редакция</a></li></ul>
                    </nav>
            </div>
                <span>Культурный</span>

            </div>
            <div id="bot_header">
                <div id="wrapper"></div>
                <div id="div_filter">
                <nav id="nav">
                    <ul>
                        <li>
                            <a href="index.html">Спектакль</a>
                            <ul>
                                <li><a href="#">Премьера</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Новость</a></li>
                        <li>
                            <a href="#">Личность</a>
                            <ul>
                                <li><a href="#">Мнение</a></li>
                                <li><a href="#">Интервью</a></li>
                            </ul>
                        </li>
                        <li><a href="">Мастерская</a></li>
                        <li><a href="">Афиша</a></li>
                    </ul>
                    </nav>
                </div>
            </div>
       </div>