
#substrate-footer {
    height:130px;
    margin:20px 0 0
}
#substrate-footer img{
top: -60px;
position: relative;
width: auto;
height: 62px;
}
#footer_logo{
    max-width: 270px;
    line-height: 1.2;
    float:left;
}
#footer {
    font-size: 11px;
    line-height: 1.5;
    font-family: 'Roboto';
    font-style: normal;
    font-variant: normal;
    background: #000;
    color: #666666;
    height:230px;
    margin:-150px auto 0;
    width: inherit;
    padding-top:20px;
}
#footer .nav{
    float: left;
    padding-left: 75px;
}
#footer a{
    color: #3f3d3d;
}
#footer a:hover {
    color: #adada2;
    text-decoration: underline;
}
#footer_wrap{
    width:1000px;
    margin: 0 auto;
    display: block !important;
    padding-top: 20px;
    padding-left: 231px;
}
#footer_logo > span {
    font-size: 35px;
    margin-top: 0;
    padding: 5px;
    color: #666666;
    font-weight: 700;
    font-family: 'Roboto';
}
#footer_logo img{
    height: auto;
    width: 50px;
    position: absolute;
}
#footer_social{
    padding-top: 10px;
    padding-right: 15px;
    float: right;
    display: inline-block;
    margin-right: 70px;

}
#footer_social img{
    width: 20px;
    height: 20px;
}
#footer_social span{
    display: inline;
}
#footer_archive{
    display: inline-block;
    margin-right:0;
    margin-bottom: 0;
    position: absolute;
}
#contact{
    float: right;
    text-align: right;
    padding-right:100px;
}