
#substrate-footer {
    height:130px;
    margin:20px 0 0
}
#substrate-footer img{
top: -60px;
position: relative;
width: auto;
height: 62px;
}
#footer {
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    background: #000;
    color: #666666;
    height:230px;
    margin:-150px auto 0;
    width: inherit;
}
#footer a{
}
#footer a:hover {
color: rgba(212,212,212,0.85);
}
#footer div{
    display: inline-block;
}
#footer_wrap{
    width:1000px;
    margin: 0 auto;
    display: block !important;
    padding-top: 20px;
    padding-left: 231px;
}
#footer_logo{
    display: inline-block;
    float: left;
    padding-right: 70px;
}
#footer_logo > span {
    font-size: 28px;
    margin-top: 0;
}
#footer_logo img{
    width: 100px;
    height: 100px;
     -webkit-filter: invert(100%); 
    position: absolute;
}
#footer_social{
    padding-top: 10px;
    padding-right: 15px;
    float: right;
    display: inline-block;
    margin-right: 70px;

}
#footer_social img{
    width: 20px;
    height: 20px;
}
#footer_social span{
    display: inline;
}
#footer_info, #write_to_us #footer_copyright{
    width:inherit;
}
#footer_development{
    width:inherit;
}
#footer_archive{
    display: inline-block;
    margin-right:0;
    margin-bottom: 0;
    position: absolute;
}