    #more{
        width: inherit;
        height: 80px;
        text-align: center;
        background-color: whitesmoke;
        display: inline-block;
    }
    #more span{
        margin: 30px auto 0;
        opacity: 1;
        display: inline-block;
    }

#substrate-footer {
    height:150px;
    margin:20px 0 0
}
#footer {
    background-color: rgba(0, 0, 0, 0.37);
    height:150px;
    margin:-150px auto 0;
    width: inherit;
}