@charset "UTF-8"; 

	a {
		color: inherit;
		text-decoration: none;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	}

html, body{
    width:100%;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    color: #666666;
    font-kerning: auto; 
    font-weight: 300;
    background-color: #f9f9f9;
}


body{
    left: 0;
    margin: 0;
}

#top_line{
    width: inherit;
    height: 5px;
    background-color: black;
}

#header{
    width: inherit;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    height: 200px;
    color: black;
}
#header > span{
    position: absolute;
    display: inline-block;
    width: inherit;
    text-align: center;
    margin-top: 55px;
}
#header nav{
    float: right;
    width: inherit;
}
#header_pic{
    position: absolute;
    left:0;
    width: 250px;
    height: 250px;
    background-color: #f9f9f9;;

}
#header_pic img {
    width:inherit;
    height: inherit;
}

#top_header, #bot_header{
    width:inherit;
    display: block;
    text-align: center;
}
#top_header > span{
    margin-top: 25px;
    position: absolute;
    width: inherit;
    font-size: 41px;
}

#top_header{
    height: 100px;
}
#bot_header{
    height:100px;
}

#stuff{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
#wrapper{
    display: inline-block;
    /*background: #2b252c;*/
    background-color: black;
    width: inherit;
    margin-top:0;
    height: 20px;
}


/*Dropotron section */
            #nav_div, #div_filter { 
                width: inherit; 
                margin: 0 auto; 
                text-align: right;
                 
            }
            #main-nav ul { list-style: none; margin: 0; padding: 0; }
            #main-nav ul li { display: inline-block; margin: 0 0.5em 0 0.5em; color: #ccc;
                padding: 0em 0.75em 0.35em 0.75em; border-radius: 0 0 5px 5px; background-color: black; }
            #main-nav ul li.active { background: black; color: #ccc; border-radius: 0; }
            #main-nav ul li.active a { color: #fff; text-decoration: none; }
            #nav ul { list-style: none; margin: 0; padding: 0; }
            #nav ul .li_item { display: inline-block; margin: 0 0.5em 0 0.5em; 
                padding: 0.35em 0.75em 0.25em 0.75em; border-radius: 5px 5px 0 0; }
            #nav ul li.active { background: black; }
            #nav ul li.active a { color: #fff; text-decoration: none; }
            #main-nav{ color:ghostwhite; text-align:  right;}
            #nav { text-align: right; border-bottom: 1px solid gray;}
            /* A single menu */
            .dropotron { background: black; list-style: none; margin: 0; min-width: 3em; padding: 0em 1em 0.75em 1em; border-radius: 0 0 5px 5px;}
            .dropotron > li { border-top: solid 1px #555; margin: 0; padding: 0; }
            .dropotron > li:last-child { border-bottom: solid 1px #555; }
            .dropotron > li > a { color: #ccc; display: block; padding: 0.5em 0 0.5em 0; text-decoration: none; }
            .dropotron > li.active > a, .dropotron > li:hover > a { color: #fff; }
            
            /* Only applies to top level ("level-0") menus */
            .dropotron.level-0 { margin-top: 0; }
            .dropotron.level-0:before { position: absolute; border-bottom: solid 0.5em #444; border-left: solid 0.5em transparent; border-right: solid 0.5em transparent; top: -0.5em; }
#nav ul .li_item:hover{
    color: white;
     background-color: black;
}

.li_wrapper{
    white-space: nowrap;
    padding: 0;
    margin: 0;
    /* bottom: 0; */
    position: absolute;
    margin-top: 27px;
    border-right: 1px solid gray;
    display: inline-block;
    height: 8px;
}

nav > ul > li {
    /*border: solid 2px black;*/
    border-radius: 0;
}

#source{
    width: inherit;
    display: inline-block;
    min-height: 600px;
}

