#main{
    display: inline-block;
    width: 800px;
    padding-left: 100px;
    padding-right: 100px;
}
#main_photo{
    display: inline-block;
    width: inherit;
    height: 470px;
    background-color: #808080;
}
p {
    line-height: 28px;
    margin: 0 0 15px;
}
#item_date{
    width: inherit;
    text-align: left;
    display: inline-block;
}
#title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}
#item_body{
    font-size: 20px;
    font-weight: 300;

}
#info{
    padding-bottom: 20px;
}
#item_footer{
    width: inherit;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}
#author{
    float: left;
}
#looks{
    float: right;
    height: 15px;
    color: #97999B;
    font-size: 15px;
}
#looks_pic{
    width: 15px;
    height: 9px;
    display: inline-block;
}

#item_wrapper{
    width: inherit;
    height: 7px;
    background-color: black;
}
#item_container{
    display: inline-block;
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
    margin: 30px auto 0;
    width: inherit;
}
.foot_new{
    display: inline-block !important;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 50px;
    padding-right: 95px;
    position: relative;
    vertical-align: top;
    width: 270px;
    background-color: brown;
    min-height: 330px;
}
#title{

}
#item_container .foot_new:nth-of-type(3n) {
    padding-right: 0;
}
.foot_pic{
    width: 270px;
    height: 190px;
    background-color: #006600;
}
.foot_tag{
    margin-top: 12px;
    margin-bottom: 12px;
    height:17px;
    width: inherit;
    font-size: 18px;
}
.foot_tag span {
    position: absolute;
}
.foot_views{
    color: #97999B;
    height:17px;
    align: right;
    font-size: 15px;
    width:50%;
    margin-left:50%;
    text-align: right;
}
.foot_title{
    width: inherit;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: normal;
}
.foot_new div{
    display: inline-block;
}
.foot_eye{
    width: 15px;
    height: 9px;
    /*background-color: black;*/
    margin-right: 5px;
    display: inline-block;
}