@charset "UTF-8"; 

#more{
    width: inherit;
    height: 80px;
    text-align: center;
    background-color: whitesmoke;
    display: inline-block;
}
#stuff a{
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}
#source a:hover{
    color: #61AE24;
    cursor: pointer;
    text-decoration: none;
}
#more span{
    margin: 30px auto 0;
    opacity: 1;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}


#main_container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}


.item{
    margin-top: 20px;
    min-height: 250px;
    padding-top: 5px;
}
.item_pic{
    height: inherit;
    display: inline-block;
    float:left;
    text-align: center;
    position: absolute;
}
.item_info{
    padding-top: 25px;
    padding-left: 330px;
    display: inline-block;
    min-height: 250px;
    width: inherit;
}
.item_photo{
    display: inline-block;
    width: 320px;
    height:200px;
    background-color: #555555;
}
.item_date{
    font-weight: 300;
    font-style: italic; 
    font-size: 18px;
    height: 21px;
    padding-bottom: 8px;
    width: inherit;
    text-align: right;

}
.item_header {
    color: #000;
    font-weight: 700;
    font-size: 34px;
    -webkit-font-smoothing: antialiased;
}
.item_read{
    width: inherit;
    margin-top: 20px;
    text-align: left;
}
.item_lid{
    margin-top: 16px;
}
.item_information{
    padding-top: 16px;
    padding-left: 10px;
    width: inherit;
    font-weight: bold;
}
