{% include 'blog_app/header.html' %}
{% load static %}
<div id="main">
<img alt="О нас" src="{% static "pics/vladivostokfromhelicopter.jpg" %}" id="main_photo"/> 

<div id="item_date">31 Мая</div>

<div id="title">О наc</div>
<div id="item_body">
<p>
Мы создали «Культурный», потому что очень любим театр. Искусство оказалось для нас интереснее политики и криминала. К тому же наш город у моря вышел на новый уровень, а вот театроведение, к сожалению, осталось на прежнем. И мы хотим это исправить. 
</p>
<p>Всё, что вы видите на этом сайте, создано небольшой группой молодых людей, готовых работать за идею. За любимую идею.
</p>
<p>
Наша главная цель – обратить человечество в нашу «театральную» веру. Это шутка, конечно. Хотя, почему бы и нет? 
</p>
</div>
</div>
{% include 'blog_app/footer.html' %}
