<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Здравствуйте. Снова.</title>
        <link rel="shortcut icon"
              href="http://www.colourbox.com/preview/2375826-622514-vector-icon-of-hand-saw.jpg" />

<link rel="stylesheet" type="text/css" href="{% static "css/tablesorter/blue/style.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "css/restr.css" %}">

<script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/lib/jquery.tablesorter.min.js" %}"></script>

</head>
<body style="">
<p>  Вы зашли в свой кабинет. Стены в свежей шпаклевке, весь пол в строительном мусоре, пахнет пылью. Один из рабочих окинул вас взглядом, и вернулся к размешиванию бетонной смеси или чего-то такого. Его коллега при этом курит, сидя на подоконнике. Вам здесь делать нечего. Пока.</p><br/>

<a href='/restricted/'>Покинуть архив</a>
</body>
</html>