<!DOCTYPE HTML>
{% load static %}

<html>
  <head>
    <meta content="">

    <title>A Simple Page with CKEditor</title>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
  </head>

  <body>
    <table>
        <tr>
        <td>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
                {% if id %}
                <p>Редактирование: #{{ id }}</p>
                {% else %}
                <p>Новая статья:</p>
                {% endif %}

                <input type="file" name="pic"><br>
                {% if pic_url %}
                <img src="{{ MEDIA_URL }}{{ pic_url }}">
                {% endif %}
                <br>

                <input type="radio" name="new_type" id=1 value=1 checked>Премьера<br>
                <input type="radio" name="new_type" id=2 value=2>Новость<br>
                <input type="radio" name="new_type" id=3 value=3>Личность<br>
                <input type="radio" name="new_type" id=4 value=4>Афиша<br><br>

                {% if new_type %}
                <script>document.getElementById({{ new_type }}).checked = true;</script>
                {% endif %}

                Название: <input type="text" size="80" name="name" value="{{ name }}"><br><br>

                <textarea name="lid" id="lid" rows="5" cols="80">
                    {{ lid }}
                </textarea><br>

                <textarea name="html" id="html" rows="10" cols="160">
                    {{ html }}
                </textarea>
                <script>
                    CKEDITOR.replace( 'html' );
                    CKEDITOR.replace( 'lid' );
                </script><br>

                <input type="hidden" name="id" value="{{ id }}">
                <input type="submit" value="Сохранить">
                
            </form>
        </td>
        <td>

        <script>
            function admin_get_pic(){
                document.getElementById("images").innerHTML = "";
                $.getJSON("/admin_get_pic/",
                    {
                        "csrftoken": "{{ csrf_token }}",
                        "id": "{% if id %}{{ id }}{% else %}{{ -1 }}{% endif %}",
                    }).done(function( data ) {
                        var way = {{ MEDIA_URL }};
                        $.each(data, function(i,item){
                        $("<img  width='200' height='200'/>").attr("src", way + item).appendTo("#images");
                    });
                });
            }

            $(document).ready(function(){
                admin_get_pic();
            });
        </script>

        <div id="images"></div>

        <!--<script>
            window.onload = function () {
                var div = document.getElementById('images');
                document.body.children[0].onchange = function (e) {
                    if (navigator.userAgent.indexOf('MSIE') != -1) {
                        div.innerHTML = '<img id="img" src="' + this.value + '">';
                    } else {
                        window.URL = window.URL || webkitURL;
                        div.innerHTML = '<img id="img" src="' + window.URL.createObjectURL(e.target.files[0]) + '">';
                    }
                }
            }
        </script>-->

        <form enctype="multipart/form-data">
            {% csrf_token %}
            <input name="file" type="file" multiple/>

            <input type="button" value="Upload" />
            <progress value="0"></progress>
        </form>

        <script type="text/javascript">
            function progressHandlingFunction(e){
                if(e.lengthComputable){
                    $('progress').attr({value:e.loaded,max:e.total});
                }
            }

            $(':button').click(function(){
                var formData = new FormData($('form')[1]);
                formData.append("id", "{% if id %}{{ id }}{% else %}{{ -1 }}{% endif %}");
                formData.append("csrftoken", "{{ csrf_token }}");
                $.ajax({
                    url: '/admin_post_pic/',  //Server script to process data
                    type: 'POST',
                    xhr: function() {  // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // Check if upload property exists
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                        }
                        return myXhr;
                    },
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
                admin_get_pic();
            });
        </script>

        </td>
        </tr>
    </table>
  </body>

</html>