<!DOCTYPE HTML>
{% load static %}

<html>
  <head>
    <meta content="">

    <title>A Simple Page with CKEditor</title>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
  </head>

  <body>
    <table>
        <tr>
        <td>
            <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}

                <br><br>
                <input type="file" name="pic"><br><br>

                <input type="radio" name="new_type" value=1 checked>Премьера<br>
                <input type="radio" name="new_type" value=2>Новость<br>
                <input type="radio" name="new_type" value=3>Личность<br>
                <input type="radio" name="new_type" value=4>Афиша<br><br>

                Название: <input type="text" name="name"><br><br>

                <textarea name="lid" id="lid" rows="5" cols="80">
                    Здесь находится форма лида.
                </textarea><br>

                <textarea name="html" id="html" rows="10" cols="160">
                    Здесь находится форма основной статьи.
                </textarea>
                <script>
                    CKEDITOR.replace( 'html' );
                    CKEDITOR.replace( 'lid' );
                </script><br>

                <input type="submit" value="Сохранить">
                
            </form>
        </td>
        <td>

        <form enctype="multipart/form-data">
            {% csrf_token %}
            <input name="file" type="file" multiple/>

            <input type="button" value="Upload" />
            <progress value="0"></progress>
        </form>

        <script type="text/javascript">
            function progressHandlingFunction(e){
                if(e.lengthComputable){
                    $('progress').attr({value:e.loaded,max:e.total});
                }
            }

            $(':button').click(function(){
                var formData = new FormData($('form')[1]);

                TODO HERE:
                formData += {"id": {% if id %} {{ id }} {% else %} {{ -1 }} {% endif %}, };
                formData += { "csrftoken": "{{ csrf_token }}", };
                $.ajax({
                    url: '/admin_post_pic/',  //Server script to process data
                    type: 'POST',
                    xhr: function() {  // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // Check if upload property exists
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                        }
                        return myXhr;
                    },
                    //Ajax events
                    //beforeSend: beforeSendHandler,
                    //success: completeHandler,
                    //error: errorHandler,
                    // Form data
                    data: formData,
                    //Options to tell jQuery not to process data or worry about content-type.
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        </script>

        </td>
        </tr>
    </table>
  </body>

</html>