<!DOCTYPE HTML>
{% load static %}

<html>
  <head>
    <meta content="">

    <title>A Simple Page with CKEditor</title>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>

  </head>

  <body>
    <form action="." method="post">{% csrf_token %}

        pic url: <input type="text" name="pic_url" default="{{ pic_url }}"><br><br>

        <input type="radio" name="new_type" value=1>Премьера<br>
        <input type="radio" name="new_type" value=2>Новость<br>
        <input type="radio" name="new_type" value=3>Личность<br>
        <input type="radio" name="new_type" value=4>Афиша<br><br>

        Название: <input type="text" name="name"><br><br>

        <textarea name="lid" id="lid" rows="5" cols="80">
            Здесь находится форма лида.
        </textarea><br>

        <textarea name="html" id="html" rows="10" cols="160">
            Здесь находится форма основной статьи.
        </textarea>
        <script>
            CKEDITOR.replace( 'html' );
            CKEDITOR.replace( 'lid' );
        </script><br>

        <input type="submit" value="Сохранить">
        
    </form>
    {% if  html %}
        {{ html|safe }}
    {% endif %}
  </body>

</html>