<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>Сайт</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="{% static "css/main_style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/drop.css" %}">
        <script src="{% static "js/libs/jquery-2.1.1.min.js" %}"></script>
        <script src="{% static "js/libs/jquery.dropotron.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </head>

<body>
    <div id="stuff">

       <!-- <div id = "header">
            <div id="top_header">
                <div id="header_pic"></div>
                <nav id="nav_top"><ul><li><a href="/feed/">Лента</a></li><li><a href="/about/">О нас</a></li><li><a href="/redaction/">Редакция</a></li></ul></nav>
                <span>Культурный</span>

            </div>
            <div id="bot_header">
                <div id="wrapper"></div>
                <nav id="nav_filter">
                <ul>
                    <li><a href="/premiere/">Премьера</a></li>
                    <li><a href="/news/">Новость</a></li>
                    <li>
                        <span><a href="/person/">Личность</a></span>
                        <ul>
                            <li><a href="#">Интервью</a></li>
                            <li><a href="#">Что-то ещё</a></li>
                        </ul>
                    </li>
                    <li><a href="/about/">Афиша</a></li>
                </ul>
                </nav>
            </div>
       </div>-->

    <div id="source">
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    5 апреля 2014
                </div>
                <div class="item_photo">

                </div>
                <div class="item_type">
                    Премьера
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                    Развод в жизни и на сцене
                </div>
                <div class="item_lid">
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                </div>
                <div class="item_read">
                    <a href="#">Читать дальше</a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="item_pic">
                <div class="item_date">
                    5 апреля 2014
                </div>
                <div class="item_photo">

                </div>
                <div class="item_type">
                    Премьера
                </div>
            </div>
            <div class="item_info">
                <div class="item_header">
                    Развод в жизни и на сцене
                </div>
                <div class="item_lid">
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                    Уже семь лет в театре им. Горького ставится спектакль блаблабла блабал блабла
                </div>
                <div class="item_read">
                    <a href="#">Читать дальше</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>