<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <meta content="">

    <title>Editing</title>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
    <style>
        img {
            width:200px;
        }
        .img-wrap {
            position: relative;
            display: inline-block;
            font-size: 0;
        }
        .img-wrap .close {
            position: absolute;
            top: 2px;
            right: 2px;
            z-index: 100;
            background-color: #FFF;
            padding: 5px 2px 2px;
            color: #000;
            font-weight: bold;
            cursor: pointer;
            opacity: .2;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 50%;
        }
        .img-wrap:hover .close {
            opacity: 1;
        }
    </style>
    <script>
        function admin_get_pic(){
            document.getElementById("images").innerHTML = "";
            $.getJSON("/restricted/admin_get_pic/", {
                    "csrftoken": "{{ csrf_token }}",
                    "id": "{% if id %}{{ id }}{% else %}{{ -1 }}{% endif %}",
            }).done(function( data ) {
                var way = {{ MEDIA_URL }};
                var id = 0;
                $.each(data, function(i,item){
                    id = id + 1;
                    var images = document.getElementById("images");
                    images.innerHTML = images.innerHTML + "<div class=\"img-wrap\">" +
                        "<span id='" + id + "'' class=\"close\">&times;</span>" +
                        "<img src='" + way + item + "' data-id='" + item + "'>" + 
                        "</div>";
                    document.getElementById(id).onclick = del_onclick;
                });
            }); 
        }

        function del_onclick(){
            var link = $(this).closest('.img-wrap').find('img').data('id');
            name = link.split('/')[1];
            id = link.split('/')[0];
            var url = '/restricted/admin_del_pic/';
            $.ajax({
                url: url,
                type: 'POST',
                data: {'csrftoken': '{{ csrf_token }}', 'id': id, 'name': name, },
                success: function(responseData, textStatus, jqXHR) {
                    //alert('remove picture: ' + id);
                },
                cache: false,
                contentType: false,
                processData: false
            });
            alert('falied to remove picture: ' + id);
        }

        $(document).ready(function(){
            admin_get_pic();
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#preview").click(function(){
                var formData = new FormData($('form')[0]);
                formData.append('pic_url', document.getElementById("pic_url").value);
                formData.append('new_type', document.querySelector('input[name="new_type"]:checked').value);
                formData.append('name', document.getElementById("name").value);
                formData.append('lid', CKEDITOR.instances.lid.getData());
                formData.append('html', CKEDITOR.instances.html.getData());
                formData.append('authors', $('#authors').val());
                formData.append('id', document.getElementById("id").value);
                $.ajax({
                    url: '/restricted/preview/',
                    type: 'POST',
                    data: formData,
                    success: function(responseData, textStatus, jqXHR) {
                        var params = "menubar=no,location=no,resizable=yes,scrollbars=yes,status=yes";
                        myWindow = window.open("");
                        myWindow.document.write(responseData);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });
        });
    </script>
    <script type="text/javascript">
        function progressHandlingFunction(e){
            if(e.lengthComputable){
                $('progress').attr({value:e.loaded,max:e.total});
            }
        }
        $(document).ready(function(){
            $('#upload').click(function(){
                this.disabled=true; this.value='Please Wait...';
                var formData = new FormData($('form')[1]);
                formData.append("id", "{% if id %}{{ id }}{% else %}{{ -1 }}{% endif %}");
                formData.append("csrftoken", "{{ csrf_token }}");
                $.ajax({
                    url: '/restricted/admin_post_pic/',  //Server script to process data
                    type: 'POST',
                    xhr: function() {  // Custom XMLHttpRequest
                        var myXhr = $.ajaxSettings.xhr();
                        if(myXhr.upload){ // Check if upload property exists
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
                        }
                        return myXhr;
                    },
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                });
                admin_get_pic();
                this.disabled=false; this.value='Загрузить';
                $('#file').disabled=false;
            });
        });
    </script>
  </head>

  <body>
    <table>
        <tr>
            <td>
                <form action="/restricted/edit/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% if id %}
                    <p>Редактирование: #{{ id }}</p>
                    {% else %}
                    <p>Новая статья:</p>
                    {% endif %}

                    <input type="file" name="pic" id='pic_url'><br>
                    {% if pic_url %}
                    <img src="{{ pic_url }}" width="200"; height="200" />
                    {% endif %}
                    <br>

                    <input type="radio" name="new_type" id="Премьера" value="Премьера" checked>Премьера<br>
                    <input type="radio" name="new_type" id="Новость" value="Новость">Новость<br>
                    <input type="radio" name="new_type" id="Личность" value="Личность">Личность<br>
                    <input type="radio" name="new_type" id="Афиша" value="Афиша">Афиша<br><br>

                    {% if new_type %}
                    <script>document.getElementById("{{ new_type }}").checked = true;</script>
                    {% endif %}

                    Название: <input type="text" size="80" name="name" value="{{ name }}" id='name'><br><br>

                    <textarea name="info" id="info" rows="5" cols="80" >
                        {{ info }}
                    </textarea><br>

                    <textarea name="lid" id="lid" rows="5" cols="80" >
                        {{ lid }}
                    </textarea><br>

                    <textarea name="html" id="html" rows="10" cols="160" id='html'>
                        {{ html }}
                    </textarea>
                    <script>
                        CKEDITOR.replace( 'html' );
                        CKEDITOR.replace( 'lid' );
                        CKEDITOR.replace( 'info' );
                    </script><br>

                    <textarea name="authors" id="authors" rows="4" cols="110">{{ authors }}</textarea><br><br>
                    Новость активна: <input type="checkbox" id="is_enabled" name="is_enabled" {% if is_enabled %}{{ 'checked' }}{% endif %}><br><br>

                    <input type="hidden" name="id" value="{{ id }}" id='id'>
                    <input type="submit" value="Сохранить">
                </form>
                <input type="button" value="Предпросмотр" id="preview">
            </td>
            <td width=31%>
                <div id="images" class="images"></div>
                <form enctype="multipart/form-data">
                    {% csrf_token %}
                    <input name="file" type="file" id="file" multiple/>
                    <input type="button" value="Загрузить" id="upload"/>
                    <progress value="0"></progress>
                </form>
            </td>
        </tr>
    </table>
  </body>
</html>