<!DOCTYPE HTML>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic&amp;subset=latin,cyrillic">
    <link rel="stylesheet" type="text/css" href="{% static "css/admin.css" %}">
    <title>Editing</title>
    <script src="{% static "js/lib/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor.js" %}"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
		var csrf_token = "{{ csrf_token }}";
		var global_id = "{% if id %}{{ id }}{% else %}{{ -1 }}{% endif %}";
		var MEDIA_URL = {{ MEDIA_URL }};
		var new_type = "{{ new_type }}";
    </script>
    <script src="{% static 'js/admin.js' %}"></script>
  </head>
<body>

<div class="container">
	<div class="title">
		{% if id %}	<p>Редактирование #{{ id }}</p>{% else %}
		<p>Новая статья</p>{% endif %}
	</div>
	<div class="row">
		<form action="/restricted/edit/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="main-pic col-md-4">
			<input type="file" name="pic" id='pic_url'>
			{% if pic_url %}
			<img src="{{ pic_url }}" width="200" height="200" />
			{% endif %}
		</div>
		<div class="col-md-4">
			<input type="checkbox" id="is_enabled" name="is_enabled" {% if is_enabled %}{{ 'checked' }}{% endif %}>
				Новость сейчас: {% if is_enabled %}<strong style="color: forestgreen;"> активна
			{% else %}<strong style="color: mediumblue;"> отключена{% endif %}</strong>
			<br>
			<br>
			<input type="radio" name="new_type" id="Спектакль" value="Спектакль" checked>Спектакль<br>
			<input type="radio" name="new_type" id="Премьера" value="Премьера" checked>Премьера<br>
			<input type="radio" name="new_type" id="Новость" value="Новость">Новость<br>
			<input type="radio" name="new_type" id="Личность" value="Личность">Личность<br>
			<input type="radio" name="new_type" id="Мастерская" value="Мастерская">Мастерская<br><br>
		</div>
		
		<div class="col-md-4">Время опубликования: {{ date }}<br>
			<input type="text" auto_now=False size="20" name="date" value="" id='date'> <br>
			<p style='color: red;'><span id='date_error_text'></span></p>
			Время последнего изменения: <br> <span>{{ last_change }}</span>
		</div>
		
		{% if new_type %}
		<script>document.getElementById(new_type).checked = true;</script>
		{% endif %}

	</div>
	<div class="editing row">
		<div class="editor col-md-10">
			<div class="edit-name">Название:
				<input type="text" name="name" value="{{ name }}" id='name'>
			</div>
			<div id="tabs">
				<ul>
					<li><a href="#tabs-1">Информация</a></li>
					<li><a href="#tabs-2">Лид</a></li>
					<li><a href="#tabs-3">Тело статьи</a></li>
					<li><a href="#tabs-4">Авторы</a></li>
				</ul>
				<div id="tabs-1"><textarea name="info" id="info" rows="5" cols="80" >{{ info }}</textarea></div>
				<div id="tabs-2"><textarea name="lid" id="lid" rows="5" cols="80" >{{ lid }}</textarea></div>
				<div id="tabs-3"><textarea name="html" id="html" rows="10" cols="160" id='html'>{{ html }}</textarea></div>
				<div id="tabs-4"><textarea name="authors" id="authors" rows="4" cols="80">{{ authors }}</textarea></div>
			</div>
			<div class="edit-controls">
				<input type="hidden" name="id" value="{{ id }}" id='id'>
				<input type="submit" value="Сохранить">
				<input type="button" value="Предпросмотр" id="preview">
				<input type="button" value="Новая запись" onclick="window.location='/restricted/edit/';">
				<input type="button" value="На главную" onclick="window.location='/';">
			</div>
			</form>
		</div>
		<div class="img-upload col-md-2">
			<div id="images" class="images"></div>
			<input type="button" value="Обновить" id="refresh">
			<form enctype="multipart/form-data">{% csrf_token %}
				<input name="file" type="file" id="file" multiple/>
				<input type="button" value="Загрузить" id="upload"/>
				<progress value="0"></progress>
			</form>
		</div>
	</div>
</div>

</body>
</html>
